body {
    background-color: #EDEDED;
}


.feed-fake {
    display: flex;
    justify-content: center;
    height: 220px;
width: 609px;
left: 361px;
top: 234px;
border-radius: 11px;
margin-top: 20px;
}

.fake-feed {
    display: flex;
    justify-content: center;
}