.post-total {
  display: flex;
  justify-content: center;
}

.post-total form {
  display: flex;
  flex-wrap: wrap;
  height: 128px;
  width: 609px;
  border-radius: 11px;
  border: 1px solid rgba(224, 223, 220, 1);
  background-color: #ffff;
}

.user-info {
  display: flex;
  align-items: center;
}

.post-total form textarea {
  width: 513px;
  height: 48px;
  resize: none;
  background-color: #e5f1fb;
  border-radius: 5px;
  border: none;
  font-weight: 400;
  font-family: "Public Sans";
  font-size: 16px;
  line-height: 16px;
}

.form-total .user-info {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.form-total .user-info img {
  width: 48px;
  height: 48px;
}

.media-buttons {
  display: flex;
  flex-direction: wrap;
}

.form-total .avatar {
  width: 48px;
  height: 48px;
}

.media-buttons button input {
  display: none;
}
